.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* width: 20%; */
    padding: 10px;
    margin: 10px;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .rating {
    color: #ffa500; /* Orange for ratings */
    font-weight: 600;
    font-size: 10px;
  }
  